body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

section {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
    color: #333;
}

.inputBox {
    margin-bottom: 15px;
}

.inputBox span {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.inputBox input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}



.flex {
    display: flex;
    justify-content: space-between;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for card image */
.inputBox img {
    max-width: 100px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    section {
        padding: 15px;
    }

    .inputBox {
        margin-bottom: 10px;
    }

    .inputBox input {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 8px 16px;
    }
}
